ASSEMBLYAI_API_KEY=your_assemblyai_key
OPENAI_KEY=your_openai_key
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=us-east-1
AWS_S3_BUCKET=govclerk-uploads
PLANETSCALE_DB_HOST=your_host
PLANETSCALE_DB_USERNAME=your_username
PLANETSCALE_DB_PASSWORD=your_password
PLANETSCALE_DB=your_database_name
UPLOAD_COMPLETE_WEBHOOK_SECRET=your_webhook_secret
PORT=8000
